
h2, h3, h4, h5, h6 {
  color: #157870    /* huds color */
}

/* Change link color */
a {
  color: #157870 !important;
}

.page-header .project-name .project-tagline h2.project-tagline p.project-tagline {
  color: #ffffff !important;
} 

