
h2, h3, h4, h5, h6 {
  color: #157870    /* huds color */
}

/* Change link color */
a {
  color: #157870 !important;
}

.page-header .project-tagline,
.page-header h2.project-tagline,
.page-header p.project-tagline {
  color: #ffffff !important;
}

