


h2, h3, h4, h5, h6 {
  color: #157870 !important;   /* your custom color */
}


.page-header .project-name .project-tagline {
  color: #ffffff !important;
} 

/* Change link color */
a {
  color: #157870 !important;
}
